body {
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    background: url(../img/back.jpg);
}

.container {
    margin: 110px auto;
    padding: 30px 0;
    width: 40%;
    border-radius: 25px;
    background-color: #5c5b5b;
    color: white;
}

.btn {
    text-decoration: none;
    background: hwb(0 67% 32%);
    color: white;
    width: 40%;
    font-size: 16px;
    padding: 5px;
    border-radius: 7px;
}

.invis {
    display: none;
}

.img {
    width: 400px;
    height: 400px;
}